name: Java CI with Gradle

on:
  push:
    branches: [ dev, feature/6.0 ]
  pull_request:
    branches: [ dev, feature/6.0 ]
    paths-ignore:
      - '.gradle/wrapper'
      - '.gitignore'
      - 'LICENSE'
      - 'THIRD PARTY NOTICES'
      - '*.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 18
          distribution: 'adopt'
          cache: gradle
      - name: Easy detect-secrets
        uses: RobertFischer/detect-secrets-action@v2.0.0
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload Unit Test Results
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: UnitTests
          path: |
            build/reports/tests/test/**
            build/test-results/**
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: drop
          path: |
            **/libs/*
            build/generated-pom.xml
            build/generated-pom.xml.asc
            build.gradle
            gradlew
            gradlew.bat
            settings.gradle
            gradle.properties
            **/gradle/**
            Scripts/**
  
  compare-packages:
    needs: build
    runs-on: ubuntu-latest
    env: 
      CURRENT_PKG_DIFF: ./artifacts/current/build/libs/msgraph-sdk-java.jar 
      PRIOR_PKG_DIFF: ./artifacts/previous/build/libs/msgraph-sdk-java.jar
    steps: 
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 18
          distribution: 'adopt'
          cache: gradle
      - name: Download Current Build
        uses: actions/download-artifact@v3
        with: 
          name: drop
          path: artifacts/current/
      - name: Download Last Successful Build
        uses: dawidd6/action-download-artifact@v2.25.0
        with: 
          workflow: preview-and-release.yml
          workflow_conclusion: success
          branch: dev
          event: push
          name: drop
          path: artifacts/previous/
      - name: Run PKG Diff 
        continue-on-error: true
        run: |
            sudo apt install pkgdiff 
            pkgdiff -hide-unchanged ${{ env.PRIOR_PKG_DIFF }} ${{ env.CURRENT_PKG_DIFF }}
      - name: Upload Diff Artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: diff
          path: |
              ./pkgdiff_reports/**
