name: Java CI with Gradle

on:
  pull_request:
    branches: [ dev ]
    paths:
      - 'src/**'
      - '.github/**'
      - '!.gradle/wrapper'
      - '!.gitignore'
      - '!LICENSE'
      - '!THIRD PARTY NOTICES'
      - '!*.md'
      - '*.gradle'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '16'
          distribution: 'adopt'
          cache: gradle
      - name: Easy detect-secrets
        uses: RobertFischer/detect-secrets-action@v2.0.0
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload Unit Test Results
        if: ${{ always() }}
        uses: actions/upload-artifact@v2.2.4
        with:
          name: UnitTests
          path: |
            build/reports/tests/test/**
            build/test-results/**
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.2.4
        with:
          name: drop
          path: |
            **/libs/*
            build/generated-pom.xml
            build/generated-pom.xml.asc
            build.gradle
            gradlew
            gradlew.bat
            settings.gradle
            gradle.properties
            **/gradle/**
            Scripts/**
